* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

@font-face {
	font-family: "Brasileiro";
	src:url("./Brasilero2018Free.otf") format("opentype");
	font-feature-settings: "calt" 0;

	}
  

.titulo{

	font-family:'Brasileiro', sans-serif !important;
  font-feature-settings: "calt" 0;
  font-feature-settings: off !important;

}

#video{
  min-height:350px;
}
.gjs-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  fill: currentColor;
  width: 50px;
  height: 50px;
}
.gjs-grid-column {
  flex: 1 1 0%;
  padding: 5px 0;
}
.gjs-link {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
.gjs-grid-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  min-height: auto;
  padding: 10px 0;
}
.gjs-heading {
  margin: 0;
}
.gjs-heading {
  margin: 0;
  color: rgba(29, 40, 55, 1);
}
.gjs-grid-column {
  flex: 1 1 0%;
  padding: 5px 0;
}
.gjs-grid-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  min-height: auto;
  padding: 10px 0;
}
.gjs-link {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease 0s;
}
#id7x {
  flex: 0 1 auto;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
#iffs {
  flex: 0 1 auto;
}
#iyd2 {
  align-items: center;
  justify-content: space-between;
  padding-top: 0px;
  padding-bottom: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  backdrop-filter: blur(13px);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
  background-color: rgb(56, 108, 176);
  display: none;
}
#i6po {
  justify-content: center;
  position: sticky;
  top: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
#itjq {
  width: 100%;
  max-width: 1200px;
}
#it00l {
  padding-top: 0px;
  padding-bottom: 0px;
}
#icfyb {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  color: #ffffff;
}
#irtfd {
  flex: 0 1 auto;
}
#i88iz {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  color: #ffffff;
}
#icyzp {
  flex: 0 1 auto;
}
.text-content {
  line-height: 20px;
}
.text-main-content {
  line-height: 30px;
  font-size: 1.2rem;
}
#iau9 {
	font-family: 'Roboto', sans-serif;
  background-color: f4f4f4;
  color: rgba(24, 31, 40, 1);
  background-image: url("../assets/paper_texture_11.png");
  background-position: 0px 0px;
  background-size: 50px 50px;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
}
#ij2gh {
  font-size: 1.9rem;
  margin-bottom: 15px;
  color: rgb(56, 108, 176);
}
#igrx8 {
  padding: 10px;
  max-width: 750px;
  margin-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px;
}
#i466d {
  color: black;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  max-width: 100%;
}
#imymf {
  max-width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
#feature-section {
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../assets/background_yellow.jpg");
  background-position: 0px 0px;
  background-size: 800px 800px;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
}
#ib541 {
  gap: 100px;
  justify-content: space-between;
}
#iz8m8 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#iiacm {
  font-size: 2.5rem;
  margin-bottom: 10px;
  max-width: 750px;
  color: rgb(56, 108, 176);
}
.gjs-grid-column.feature-item {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 30%;
}
.gjs-grid-column.testimonial-item {
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 45%;
  background-color: rgba(247, 247, 247, 0.23);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  align-items: flex-start;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-color: rgba(0, 0, 0, 0.06);
  border-right-color: rgba(0, 0, 0, 0.06);
  border-bottom-color: rgba(0, 0, 0, 0.06);
  border-left-color: rgba(0, 0, 0, 0.06);
}
.gjs-button {
  vertical-align: top;
  max-width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
  
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 10px;
  font-size: 1.1rem;
  text-align: center;
}
.gjs-text-blue {
  color: rgb(36, 99, 235);
}
#ism014 {
  font-size: 2.8rem;
  color: rgba(50, 44, 43, 1);
}
.gjs-link:hover {
  color: rgb(36, 99, 235);
  text-decoration: underline;
}
.gjs-icon {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  vertical-align: middle;
  fill: currentColor;
  width: 50px;
  height: 50px;
}
.gjs-icon.gjs-feature-icon {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgb(36, 99, 235);
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
#infmy1 {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  color: #ffffff;
}
#i4dqbm {
  line-height: 1.38;
  text-align: justify;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
#iq42m2 {
  line-height: 1.38;
  text-align: justify;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
#i0f478 {
  font-size: 12pt;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  vertical-align: baseline;
  white-space-collapse: preserve;
}
#i1mew {
  background-color: #fece14;
  color: rgba(22, 21, 21, 1);
  font-weight: 700;
}
#imzugg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#i0xvjx {
  gap: 100px;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 50px;
}
#irw9ed {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
  align-self: flex-start;
}
#igssv6 {
  max-width: 1200px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 0px;
}
#if06fa {
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: url("../assets/background_yellow.jpg");
  background-position: 0px 0px;
  background-size: 800px 800px;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
}
#ip0ako {
  color: black;
  width: 100%;
}
.gjs-container {
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
}
.gjs-section {
  display: flex;
  padding: 50px 0;
}
#i9glxl {
  gap: 20px;
}
#ia8rtj {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#iqx3z1 {
  background-color: rgb(56, 108, 176);
  font-size: 2rem;
}
#programacao {
  font-size: 2.8rem;
  margin-bottom: 10px;
  max-width: 750px;
  color: rgba(255, 255, 255, 1);
}
#i8y4b5 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
  padding-bottom: 20px;
}
#imuxvu {
  flex: 0 0 auto;
  padding-right: 20px;
}
#i58mj2 {
  color: black;
  height: 290px;
}
#i4m75a {
  align-self: flex-end;
  justify-content:center;
  align-items: center;
  flex: 1 1 0%;
}
#ip3rrz {
  align-items: stretch;
  justify-content: center;
  align-self: auto;
}
#i1egpy {
  font-size: 1.7rem;
}
#i2try3 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#ih0lkr {
  font-size: 1.7rem;
}
#i0zm9u {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#iawixg {
  font-size: 1.7rem;
}
#i2qp98 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#ih1hso {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}
#izf9eq {
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#il06p6 {
  font-size: 1.5rem;
}
#i1odid {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#iytzp6 {
  enable-background: new 0 0 463.229 463.229;
}
#i9mrti {
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#i0ya0k {
  font-size: 1.5rem;
}
#ixr9ms {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#ityyaz {
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#ivi79k {
  font-size: 1.5rem;
}
#i8xjsg {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#iwunl8 {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}
#ixz4j2 {
  color: black;
  width: 100%;
  height: auto;
}
#iu7ozb {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}
#igp6th {
  justify-content: center;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    180deg,
    rgb(56, 108, 176) 10%,
    rgba(163, 214, 255, 0) 90%
  );
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
}
#ibj2yt {
  color: black;
}
#imdajm {
  font-size: 2.5rem;
  margin-bottom: 10px;
  max-width: 750px;
  color: rgb(56, 108, 176);
}
#ir59nh {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#ii1q2i {
  color: black;
  width: 88%;
  height: auto;
}
#ioe9uu {
  gap: 20px;
}
#in1vy1 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#iof4mk {
  color: black;
  width: 100%;
  height: auto;
}
#i87vkd {
  flex-direction: row-reverse;
  gap: 20px;
  flex-wrap: nowrap;
}
#in11lq {
  width:100%;
  height: 498px;
}
#iulub3 {
  flex: 0 0 auto;
  align-self: auto;
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#iqqzog {
  font-size: 1.5rem;
}
#i5ehot {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#ixq4jx {
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#iac3wq {
  font-size: 1.5rem;
}
#ihbd32 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#i2ynxw {
  width: 60px;
  height: 60px;
  background-color: rgb(56, 108, 176);
  box-shadow: 5px 5px 8px 0px rgba(62, 87, 145, 1);
}
#iq970m {
  font-size: 1.5rem;
}
#idrllk {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
}
#izzu8i {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}
#i9mhew {
  padding: 10px;
  width: auto;
  font-size: 1.8rem;
}
#ihvquo {
  font-size: 12pt;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-weight: 700;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  vertical-align: baseline;
  white-space-collapse: preserve;
}
#i4zilu {
  font-size: 1.5rem;
  font-family: Arial, sans-serif;
  color: rgb(0, 0, 0);
  background-color: transparent;
  font-weight: 700;
  font-variant-numeric: normal;
  font-variant-east-asian: normal;
  font-variant-alternates: normal;
  vertical-align: baseline;
  white-space-collapse: preserve;
}
#izu5tx {
  font-size: 1.7rem;
  text-align: center;
}
#iif6ca {
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 50px;
}
#ios101 {
  background-color: #fece14 !important;
  font-size: 1.7rem;
  color: #3f71b2;
  font-weight: 700;
}
#i02b0u {
  background-color: #fece14 !important;
  font-size: 1.7rem;
  color: #3f71b2;
  font-weight: 700;
}
#iqkcsn {
  font-size: 2.5rem;
  margin-bottom: 10px;
  max-width: 750px;
  color: rgb(56, 108, 176);
}
#i2ktll {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#ikh8i3 {
  color: black;
  width: 88%;
  height: auto;
}
#i74yys {
  gap: 20px;
}
#iz2ujp {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#id0rbq {
  color: black;
  width: 100%;
  height: auto;
}
#ig8rwm {
  flex-direction: row-reverse;
  gap: 20px;
  flex-wrap: nowrap;
}
#ivsamo {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.18) 10%,
    rgba(254, 217, 61, 0.95) 47%,
    white 90%
  );
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-origin: padding-box;
}
#i0ydff {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
  font-size: 1.8rem;
  line-height: 1.9rem;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}
#inlkx6 {
  color: black;
  width: 88%;
  height: auto;
}
#id1fjz {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
}
#i6z361 {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
  display: none;
}
#if5fl2 {
  color: black;
  width: 100%;
  height: auto;
}
#ib69ti {
  flex-direction: row;
  gap: 20px;
  flex-wrap: nowrap;
}
#iqvo1o {
  padding: 10px;
  padding-left: 0px;
  padding-right: 0px;
  max-width: 750px;
  font-weight: 700;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .gjs-grid-row {
    flex-direction: column;
  }
  .gjs-grid-row {
    flex-direction: column;
  }
  #iyd2 {
    flex-direction: row;
  }
  #it00l {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  #iffs {
    display: none;
  }
}
@media (max-width: 480px) {
  #ib541 {
    gap: 20px;
  }
  #iz8m8 {
    align-self: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  }
  #feature-section {
    padding-bottom: 20px;
  }
  #ism014 {
    font-size: 3.0rem;
  }
  #i0xvjx {
    align-items: flex-start;
    gap: 20px;
    width: 100%;
  }
  #ip0ako {
    width: 100%;
    height: auto;
  }
  #if06fa {
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #iiacm {
    color: rgb(56, 108, 176);
  }
  #i1mew {
    color: rgba(58, 49, 49, 1);
  }
  #ij2gh {
    font-size:2.5rem;
    color: rgb(56, 108, 176);
  }
  #iqx3z1 {
    width:100%;
    background-color: rgb(56, 108, 176);
  }
  #programacao {
    color: rgba(255, 255, 255, 1);
    font-size: 2.5rem;
  }
  #i58mj2 {
    align-self:center;
    width: 80%;
    height: auto;
    padding-top:30px;
  }
  #izf9eq {
    width: 60px;
    height: 60px;
    background-color: rgb(56, 108, 176);
  }
  #i9mrti {
    width: 60px;
    height: 60px;
    background-color: rgb(56, 108, 176);
  }
  #ityyaz {
    width: 60px;
    height: 60px;
    background-color: rgb(56, 108, 176);
  }
  #igp6th {
    padding-top: 20px;
  }
  #imdajm {
    color: rgb(56, 108, 176);
  }
  #ii1q2i {
    width: 100%;
  }
  #ita6oy {
    flex: 1 1 0%;
    align-self: flex-start;
  }
  #i87vkd {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  #iulub3 {
    background-color: rgb(56, 108, 176);
  }
  #ixq4jx {
    width: 60px;
    height: 60px;
    background-color: rgb(56, 108, 176);
  }
  #i2ynxw {
    width: 60px;
    height: 60px;
    background-color: rgb(56, 108, 176);
  }
  #izu5tx {
    font-size: 2.0rem;
    padding-bottom:20px;
  }
  #ibj2yt {
    width: 116%;
  }
  #irw9ed {
    padding-right: 20px;
    padding-left:20px;
  }
  #ios101 {
    width:100%;
    background-color: rgb(56, 108, 176);
  }
  #i02b0u {
    background-color: rgb(56, 108, 176);
  }
  #iqkcsn {
    color: rgb(56, 108, 176);
  }
  #ikh8i3 {
    width: 100%;
  }
  #i6jc1k {
    flex: 1 1 0%;
    align-self: flex-start;
  }
  #ig8rwm {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
  #inlkx6 {
    width: 100%;
  }
  #irjw0y {
    flex: 1 1 0%;
    align-self: flex-start;
  }
  #ib69ti {
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
  }
}
